* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: #181818;
}

.spotifyLogo {
  height: 80px;
}

.album {
  height: 450px;
  width: 320px;
  background: #1a1414;
  border: 1px solid;
  margin: auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.albumsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
}

.App-header {
  /* min-height: 100vh; */
  /* height:10vh; */
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
